<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="post">
        <h1>Dojo Survey</h1>
        <div>
            <label for="name">Your Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="">...</option>
                <option value="Chicago">Chicago</option>
                <option value="Burbank">Burbank</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div>
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="">...</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
            </select>
        </div>
        <div>
            <label for="name">Comment (optional):</label>
            <textarea name="comments"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>