<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session['count']}} time(s)</p>
    <div>
        <a href="/">Click</a>
        <a href="/2">Click +2</a>
        <a href="/reset">Reset</a>
        <a href="/destroy_session">Destroy</a>
        <!--so as far as i can tell i got it to work but its essentially just the reset button the way i put coded it but plz let me know if it works if u see this-->
    </div>
</body>
</html>