h1 {
    color: white;background-color: black;font-family: cursive;
}
h2 {
    color: white;background-color: darkmagenta; font-style: italic;text-align: center;font-family:cursive;
}
h3 {
    background-color: cornflowerblue;text-align: right;text-decoration: underline;
}
